.cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.recipe-card {
  width: 100%;
}

@media (max-width: 1024px) {
  .cont {
    justify-content: space-evenly;
  }
  .recipe-card {
    width: 30%;
  }
}
