.cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.recipe-card {
  width: 100%;
}

@media (max-width: 1024px) {
  .cont {
    justify-content: space-evenly;
  }
  .recipe-card {
    width: 30%;
  }
}
.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.search-bar:focus {
  border-color: rgb(42, 47, 148);
  outline: none;
}

.no-results {
  font-weight: 700;
  font-size: 20px;
}
