<div class="cont">
  <!-- Search bar for filtering recipes -->
  <input
    type="text"
    class="cont__search-bar"
    [(ngModel)]="searchItem"
    (input)="onSearch($event)"
    placeholder="Search recipes..."
  />

  <!-- Display the list of recipes -->
  @if (filteredRecipes$ | async; as recipes) { @for (recipe of recipes; track
  recipe) {
  <!-- Recipe card component displaying each recipe -->
  <app-recipe-card
    [recipeImg]="recipe.image"
    [description]="recipe.description"
    [title]="recipe.title"
    [id]="recipe._id!"
    (recipeClicked)="onRecipeClick(recipe._id!)"
  />
  }

  <!-- Show message when no recipes match the search query -->
  @empty {
  <span class="cont__results">
    No results found for
    <span class="cont__results--item">{{ searchItem }}</span>
  </span>
  } }
</div>
