.recipe-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 7px;


  &__title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }

  &__form {
    display: flex;
    justify-content: center;

    &--card {
      width: 100%;
      max-width: 650px;
      padding: 20px;
      &-ingredients {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 10px;
        width: 100%;
        margin-top: 10px;

        .ingredient-item {
          display: flex;
          align-items: center;
          width: 100%;

          &__delete {
            display: flex;
            align-items: center;
            justify-content: center;
            background: none;
            border: none;
            cursor: pointer;
            padding: 0;
            margin-left: 5px;
            min-width: 24px;
            height: 24px;

            mat-icon {
              font-size: 20px;
              line-height: 1;
            }
            &:hover {
              background: none !important;
            }
          }
        }

        .ingredient-field {
          flex: 1;
        }
      }
      &-file {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 10px auto 20px;
      }
    }
  }

  .full-width {
    width: 100%;
    margin-bottom: 10px;
  }

  .add {
    margin-top: 10px;
    background: rgb(42, 86, 148);
    color: whitesmoke;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    height: 40px;

    &:hover {
      background: darken(rgb(42, 86, 148), 10%);
    }
  }

  .image-preview {
    display: flex;
    align-items: end;
    gap: 10px;

    img {
      width: 160px;
      height: 110px;
      object-fit: cover;
      border-radius: 8px;
      aspect-ratio: 1;
    }
  }
}
@media (max-width: 768px) {
  .form-container__card {
    max-width: 100%;
    padding: 15px;
  }

  .ingredients-grid {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}
mat-form-field {
  font-size: 14px;
}
textarea {
  overflow: auto;
  scrollbar-width: none;
}

.loading-spinner {
  margin: 0 auto;
}
.hidden-input {
  display: none;
}

.custom-file-label {
  padding: 5px 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 144px;
  cursor: pointer;
  font-size: 12px;
}
