@if (recipe$ | async; as recipe) {
<div class="recipe">
  <div class="recipe__image">
    <img [src]="recipe.image" alt="Recipe Image" />
  </div>
  <div class="recipe__details">
    <div class="recipe__details--header">
      <span class="recipe__details--header-title">{{ recipe.title }}</span>
      <div class="recipe__details--header-actions">
        <button mat-raised-button [routerLink]="['/edit-recipe', recipe.id]">
          Edit
        </button>

        <button mat-flat-button (click)="delete(recipe.id)">delete</button>
      </div>
    </div>
    <p class="recipe__details--description">{{ recipe.description }}</p>
    <h3>Ingredients:</h3>

    <div class="recipe__details--ingredients">
      <ul>
        @for (ingredient of recipe.ingredients; track ingredient) {
        <li>{{ ingredient }}</li>
        }
      </ul>
    </div>
  </div>
</div>
<div class="recipe__instruction">
  <h1>Instructions</h1>
  <p>{{ recipe.instructions }}</p>
</div>

}
