<form [formGroup]="form" (ngSubmit)="submitForm()" class="form-container">
  @if (recipe$|async) { sd }
  <mat-card class="form-container__card">
    <mat-form-field appearance="fill" class="form-container__card--display">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" type="text" />
      @if (form.get('title')?.hasError('required')) {
      <mat-error>Title is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-container__card--display">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
      @if ( form.get('description')?.hasError('required')) {
      <mat-error>Description is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-container__card--display">
      <mat-label>Instructions</mat-label>
      <textarea matInput formControlName="instructions"></textarea>
      @if (form.get('instructions')?.hasError('required')) {
      <mat-error>Instructions are required</mat-error>
      }
    </mat-form-field>

    <div formArrayName="ingredients">
      @for (ingredient of ingredients.controls; track ingredient; let i =
      $index;) {
      <div>
        <mat-form-field appearance="fill" class="form-container__card--display">
          <mat-label>Ingredient {{ i + 1 }}</mat-label>
          <input matInput [formControlName]="i" type="text" />
          @if (ingredient.hasError('required') ) {
          <mat-error> Ingredient is required </mat-error>
          }
        </mat-form-field>
        @if (ingredients.length > 1) {
        <div class="remove">
          <button
            mat-button
            type="button"
            (click)="removeIngredient(i)"
            class="delete"
          >
            Remove
          </button>
        </div>
        }
      </div>
      }
      <button mat-button type="button" (click)="addIngredient()" class="add">
        Add Ingredient
      </button>
    </div>

    <div class="file-upload">
      <label for="thumbnail">Thumbnail</label>
      <input id="thumbnail" type="file" (change)="onFileChange($event)" />
      @if (imageUrl$|async) {}
    </div>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </mat-card>
</form>
